<h1><%= @potin.title %></h1>
<div class="card" style="width: 18rem;">
    <div class="card-body">
    <p class="card-text"><%= @potin.content %><br/>
    
    </p>
    <p><a href="/users/<%= @potin.user.id %>" class="btn btn-secondary">Author: <%= @potin.user.first_name %></a></br></p>

    <p><a href="/city/<%= @potin.user.city.id %>" class="btn btn-secondary">city: <%= @potin.user.city.name %></a></p>
    </br>
    <% if(current_user.id == @potin.user.id) %>
    <p><a href="/gossips/<%= @potin.id %>/edit" class="btn btn-success">Edit</a>
    <a href="/gossips/<%= @potin.id %>" class="btn btn-danger" data-confirm="êtes-vous sur?" data-method="DELETE">Delete</a></br></p>
    <% end %>
    
    <%= @potin.created_at %> 

    </div>
</div>



